<div class="container">
  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let gb of guestbooks">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ gb.title }}</mat-panel-title>
        <mat-panel-description>
          {{ gb.url }}
        </mat-panel-description>
        <mat-panel-description>
          <button class="btn btn-danger" (click)="deleteGb(gb._id)">
            Delete GuestBook
          </button> </mat-panel-description
        ><mat-panel-description>
          <button class="btn btn-success" (click)="open(content)">
            Update GuestBook
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="messages">
        <h3 class="my-3">Messages</h3>
        <div class="container" *ngFor="let m of gb.messages">
          <div class="row">
            <div class="col-3"><h6>NAME :</h6></div>
            <div class="col-3">
              <p>{{ m.name }}</p>
            </div>
            <div class="col-3">
              <button class="btn btn-danger" (click)="deletemessage(m._id)">
                Delete message
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-3"><h6>EMAIL :</h6></div>
            <div class="col-3">
              <p>{{ m.email }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3"><h6>Message :</h6></div>
            <div class="col-3">
              <p>{{ m.body }}</p>
            </div>
          </div>
          <h5>--------------------------------------------------------</h5>
        </div>
      </div>

      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Update GuestBook</h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input
            class="form-control"
            placeholder="new title"
            type="text"
            [(ngModel)]="title"
          />
          <input
            class="form-control"
            placeholder="new link"
            type="text"
            [(ngModel)]="url"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="[c('Save click'), updateGb(gb._id)]"
          >
            Save
          </button>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
